@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
  
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
  
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
  
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
  
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
  
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
  
      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;
  
      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;
  
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
  
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
  
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
  
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
  
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
  
  @layer base {
    * {
      @apply border-border !scroll-smooth;
    }
    body {
      @apply bg-background text-foreground;
    }
    button {
      @apply active:outline-none;
    }
  }
  
  @layer utilities {
    .border-hsla {
      @apply border border-white/20;
    }
  
    .nav-hover-btn {
      @apply relative ms-10 text-xs uppercase text-white after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-white-100 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
    }
  
    .floating-nav {
      @apply bg-black rounded-lg border;
    }
  
    .absolute-center {
      @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
    }
  
    .flex-center {
      @apply flex justify-center items-center;
    }
  
    .mask-clip-path {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    .hero-heading {
      @apply uppercase font-black text-5xl sm:right-10 sm:text-7xl md:text-9xl lg:text-[12rem];
    }
  
    .about-subtext {
      @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center text-lg md:max-w-[34rem];
    }

    .highlight {
      color: #8239f4; /* Replace with your desired color */
      font-weight: bold; /* Optional */
    }
  
    .about-image {
      @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
    }
  
    .animated-title {
      @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white sm:px-32 md:text-[6rem];
    }
  
    .animated-word {
      @apply font-black opacity-0;
      transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
      transform-origin: 50% 50% -150px !important;
      will-change: opacity, transform;
    }
  
    .bento-tilt_1 {
      @apply relative border-hsla col-span-2 overflow-hidden rounded-md transition-transform duration-300 ease-out;
    }
  
    .bento-tilt_2 {
      @apply relative col-span-1 row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
    }
  
    .bento-title {
      @apply uppercase md:text-6xl text-4xl font-black text-white;
    }
  
    .story-img-container {
      @apply relative md:h-dvh h-[90vh] w-full;
      filter: url("#flt_tag");
    }
  
    .story-img-mask {
      @apply absolute left-0 top-0 size-full overflow-hidden md:left-[20%] md:top-[-10%] md:size-4/5;
      clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
    }
  
    .story-img-content {
      @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
    }
  
    .gallery-img-container {
      @apply size-64 overflow-hidden bg-violet-300;
    }
  
    .gallery-img {
      @apply size-full bg-cover;
    }
  
    .gallery-img-4 {
      @apply sm:size-80 md:h-96 md:w-[25rem] rounded-lg;
    }
  
    .sword-man-clip-path {
      clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
    }
  
    .contact-clip-path-1 {
      clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
    }
  
    .contact-clip-path-2 {
      clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
    }
  }
  
  .indicator-line {
    @apply h-1 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
  }
  
  .indicator-line.active {
    animation: indicator-line 0.5s ease infinite;
    animation-delay: calc(var(--animation-order) * 0.1s);
  }  

  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  